.header {
  max-width: 1184px;
  margin: 0 auto;
  padding: 30px 64px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

.logoIcon {
  width: 28px;
  height: 28px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 28px;
}

.link {
  position: relative;
  font-size: 16px;
  line-height: 1.25;
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--color-primary);
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.2s ease;
}

.link:hover::after,
.active::after {
  width: 100%;
}

.auth {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 16px;
}

.loginBtn,
.registerBtn {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
}

.loginBtn {
  display: flex;
  align-items: center;
  gap: 6px;
}

.loginIcon {
  width: 20px;
  height: 20px;
  color: var(--color-primary);
  fill: transparent;
}

.registerBtn {
  padding: 14px 39px;
  border-radius: 12px;
  background-color: var(--color-black);
  color: var(--color-white);
}

.userEmail {
  max-width: 180px;
  overflow: hidden;
  font-size: 14px;
  color: var(--color-gray);
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 900px) {
  .inner {
    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 20px;
  }

  .logo {
    grid-column: 1 / 2;
  }

  /* .auth {
    grid-column: 2 / 3;
    justify-self: end;
    margin-left: 0;
  }

  .nav {
    grid-column: 1 / -1;
    justify-content: center;
  } */

  .auth {
    width: 100%;
    justify-content: center;
  }

  .nav {
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 20px 16px;
    /* max-width: 702px; */
  }

  /* .inner {
    grid-template-columns: 1fr;
    row-gap: 20px;
  } */

  .logo {
    grid-column: 1;
    justify-self: start;
  }

  /* .auth {
    grid-column: 1;
    width: 100%;
    justify-content: space-between;
  }

  .nav {
    grid-column: 1;
    justify-content: center;
    gap: 28px;
    order: 3;
  } */

  .registerBtn {
    padding: 12px 28px;
  }

  .userEmail {
    max-width: 160px;
  }
}

@media (max-width: 374px) {
  .header {
    padding: 20px 16px;
    max-width: 342px;
  }

  .auth {
    flex-direction: column;
    align-items: stretch;
  }

  .loginBtn,
  .registerBtn {
    justify-content: center;
    width: 100%;
  }
}
