.title {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
}

.text {
  max-width: 438px;
  margin-bottom: 40px;
  color: rgba(18, 20, 23, 0.8);
  line-height: 1.38;
}

.form {
  display: grid;
  gap: 18px;
}

.field {
  display: grid;
  gap: 6px;
}

.input {
  width: 100%;
  padding: 16px 18px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
}

.input::placeholder {
  color: var(--color-black);
}

.error {
  color: #d93025;
  font-size: 13px;
}

.submitBtn {
  width: 100%;
  margin-top: 22px;
  padding: 16px;
  border-radius: 12px;
  background-color: var(--color-primary);
  font-weight: 700;
}

.submitBtn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

@media (max-width: 767px) {
  .title {
    margin-bottom: 16px;
    font-size: 32px;
  }

  .text {
    margin-bottom: 32px;
    font-size: 14px;
  }

  .form {
    gap: 16px;
  }

  .input {
    padding: 14px 16px;
    font-size: 15px;
  }

  .submitBtn {
    margin-top: 18px;
    padding: 14px;
  }
}

@media (max-width: 374px) {
  .title {
    font-size: 28px;
  }

  .text {
    margin-bottom: 28px;
  }

  .input {
    padding: 13px 14px;
  }
}
